@mixin from-320-to-575{
    @media screen and (min-width:320px) and (max-width:574.67px)  {    
        @content;
    }
}
.filter-inp-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 50px;
        .dropdown-wrap{
            width: 200px;
            border-radius: 20px;
        }
}
.bar-main-con{
    padding: 10px 50px;
    display: flex;
    flex-wrap: wrap;
}
.issue-main-wrap{
    padding: 10px 50px;
    h1{
        font-size: 32px;
        margin-bottom: 15px;
        font-family: 'Poppins',sans-serif;
        @include from-320-to-575{
            text-align: center;
        }
    }
}